@media (width >= 1024px){
    p{
        color: gold;
    }

    .header{
        max-height: 14vh;
        height: 14vh;
        display: flex;
        border-style: solid;
        overflow: hidden;
    }

    .logotip{
        width: 15%;
        max-height: inherit;
        height: inherit;
        border-style: solid;
        text-align: center;
    }
    #logo{
        max-height: inherit;
        width: auto;
    }

    .kategorija
    {
        width: 75%;
        max-height: inherit;
        border-style: solid;
    }
    .kategorijaText{
        text-align: center;
        font-size: xx-large; 
        font-family: Jersey;
    }

    .basket{
        width: 10%;
        max-height: inherit;
        border-style: solid;
        flex-flow: row;

    }

    #povecalo{
      
        width: 35%;
        margin-top: 20%;
        margin-left: 5%;
        margin-right: 10% ;
    }
    #kosarica{
        
        width: 35%;
        margin-top: 20%;
        margin-left: 5% ;
        margin-right: 5%;
    }


    .sadrzaj{
        height: 80vh;
        max-height: 80h;
        width:100%;
        border-style: solid;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(10,1fr);
        gap: 10px;
        overflow-x: hidden;
        overflow-y: hidden
    }
    .zaglavlja{
        grid-row: 1/5 ;
        grid-column:2/6 ;
        display: grid;
        border-style: solid;
        overflow: hidden;
    }
    #haha{
        margin: 1px;
        border-style: solid;
        font-style: normal;
        font-size: larger;
        color: black;
    }

    .kateg{
        border-style: solid;
        grid-row: 1/6;
        grid-column: 1;

        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(1,1fr);
    }
    .kontakt{
        border-style: solid;
        grid-row: 6/7;
        grid-column: 1;
    }
    .proizvodi{
        grid-row: 5/11;
        grid-column: 2/6;
        display: grid;
        border-style: solid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    ul{
        
        display:block;
        list-style-type: none;
        margin:4%;
    }

}

@media (height > 875px) {
            
    ul li{
        font-size:large;
        margin-bottom: 8px;
    }
}

@media (height<=874px) {
    ul li{
        font-size: medium;
        margin-bottom: 3px;
    }    
}

@media (height<=475px) {
    ul li{
        font-size: small;
        margin-bottom: 2px;
    }    
}