@media screen and (min-width:1024px) {
    .header{
        border-style: solid;
        width: 95vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .logo{
        border-right: solid;
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logoimg{

        height: 80%;
        width: 45%;
        
        
    }
    .kategorija
    {
        height: 100%;
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icons{ 
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-left: solid ;

    }
    #shopkart{
        position: relative;
        display: flex;
        align-items: center;
        justify-items: center;
        height: 50%;
        width: 50%;
    }
    #shopkart > img{
        padding-left: 15%;
        height: 90%;
        width: 90%;
    }
    #povecalo{
        display: flex;
        
        align-items: center;
        justify-items: center;
        height: 50%;
        width: 50%;
    }
    #povecalo > img{
        padding-left: 15%;
        height: 90%;
        width: 90%;
    }
    .tijelo{
        height: 100vh;
        width: 95vw;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
    }
    .kategorije{
        margin: 1%;
        order: -1;
        height: 60%;
        width: 12.5%;
        border-style: solid;
    }
    .slika{
        border-style: solid;
        margin: 1%;
        order: 0;
        height: 50%;
        width: 80%;
    }

    .kontakt{
        border-style: solid;
        margin: 1%;
        order: 1;
        height: 35%;
        width: 12.5%;
    }

    .proizvodi{
        order: 2;
        margin: 1%;
        border-style: solid;
        width: 80%;
        height: 50%;
        transform: translateY(-20%);
        
    }

    .numOfItems{
        display: none;
        position: absolute;
        bottom: -5px;
        right: -15px;
        background-color: lightcoral;
        border-color: red;
        border: solid red;
        border-radius: 50%;
        padding: 0px 12px;
        opacity: 90%;
    }
    #num{
        font-weight: bold;
        opacity: 100%;
        font-size: 11px;
    }
}